<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context" xmlns:p="http://www.springframework.org/schema/p"
       xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
	http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd
	http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.0.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.0.xsd
	http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-4.0.xsd">


    <!-- 加载配置文件 -->
    <!--    <context:property-placeholder location="classpath:db.properties"/>-->

    <!-- 数据库连接池 -->
    <!--    <bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource"-->
    <!--          destroy-method="close">-->
    <!--        <property name="driverClassName" value="${jdbc.driver}"/>-->
    <!--        <property name="url" value="${jdbc.url}"/>-->
    <!--        <property name="username" value="${jdbc.username}"/>-->
    <!--        <property name="password" value="${jdbc.password}"/>-->
    <!--        <property name="maxActive" value="10"/>-->
    <!--        <property name="maxIdle" value="5"/>-->
    <!--    </bean>-->

    <!-- 配置SqlSessionFactory -->
    <!--    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">-->
    <!--        &lt;!&ndash; 数据库连接池 &ndash;&gt;-->
    <!--        <property name="dataSource" ref="dataSource"/>-->
    <!--        &lt;!&ndash; 加载mybatis的全局配置文件 &ndash;&gt;-->
    <!--        <property name="configLocation" value="classpath:mybatis/SqlMapConfig.xml"/>-->
    <!--    </bean>-->

    <!-- 配置Mapper扫描 -->
    <!--    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">-->
    <!--        &lt;!&ndash; 配置Mapper扫描包 &ndash;&gt;-->
    <!--        <property name="basePackage" value="mapper"/>-->
    <!--    </bean>-->

    <!-- 启用Spring MVC 注解 -->
    <context:annotation-config/>


    <!-- 配置service扫描包 -->
    <!--    <context:component-scan base-package="com.chinaunicom.monitor.service"/>-->
    <!--    <bean id="quartzFactory" class="com.chinaunicom.monitor.factory.BsQuartzJobFactory"></bean>-->

    <!-- task -->
    <!-- 定义了一个任务JobDetail -->
    <bean id="quartzLine" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
        <property name="targetObject" ref="autoReconciliation"/>
        <property name="targetMethod" value="checkLine"/>
    </bean>

    <bean id="quartzClient" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
        <property name="targetObject" ref="autoReconciliation"/>
        <property name="targetMethod" value="checkClient"/>
    </bean>

    <!-- 第二步 调度定时任务 的触发器-->
    <!-- 这种配置可以精确几点执行定时任务 -->
    <bean id="cronQuartzLine" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
        <property name="jobDetail">
            <ref bean="quartzLine"></ref>
        </property>
        <property name="cronExpression">
            <value>*/1 * * * * ?</value>
        </property>
    </bean>

    <bean id="cronQuartzClient" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
        <property name="jobDetail">
            <ref bean="quartzClient"></ref>
        </property>
        <property name="cronExpression">
            <value>*/1 * * * * ?</value>
        </property>
        <!--<property name="cronExpression" value="*/1 * * * * ?"/> 每隔1秒钟触发一次 -->
    </bean>

    <!--第三步 启动定时任务的调度器,注意这里的ref bean -->
    <!--    <bean id="schedulerFactoryBean" lazy-init="false" autowire="no"-->
    <!--          class="org.springframework.scheduling.quartz.SchedulerFactoryBean">-->
    <!--        <property name="triggers">-->
    <!--            <list>-->
    <!--                <ref bean="cronQuartzLine"></ref>-->
    <!--                <ref bean="cronQuartzClient"></ref>-->
    <!--            </list>-->
    <!--        </property>-->
    <!--        &lt;!&ndash;  <property name="configLocation" value="classpath:quartz.properties"/>&ndash;&gt;-->
    <!--    </bean>-->

    <!-- 总管理类 如果将lazy-init='false'那么容器启动就会执行调度程序 -->
    <bean id="SpringJobSchedulerFactoryBean" class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
        <!--        <property name="jobFactory" ref="quartzFactory"/>-->
        <property name="triggers">
            <list>
                <ref bean="cronQuartzLine"/>
                <ref bean="cronQuartzClient"/>
            </list>
        </property>
    </bean>

    <!--这个地方你作业的实现    -->
    <bean id="autoReconciliation" class="com.chinaunicom.monitor.task.AutoTask"/>
</beans>